body {
    background-color: lightblue;
    text-align: center;
}

.header {
    border-style: double;
    border-width: 5px;
    padding: 5px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Lobster";
}

h2 {
    /*border-style: double;*/
    text-align: right;
    font-size: small;
    border-width: 5px;
    padding: 5px;
    margin-bottom: 0px;
    font-family: "Lobster";
}

form {
    margin: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 300px;
    padding: 20px;
}

input, select, .input {
    padding: 10px;
    display: block;
    margin: auto;
    margin-bottom: 5px;

    width: 300px;
}

input[type=checkbox] {
    display: inline;
}

input[type=number] {
    width: 275px;
}

.button {
    background-color: lightgreen;
    color: green;
}

.deactivated {
    opacity: 0.65;
    cursor: not-allowed;
}

div {
    word-wrap: break-word;
}

.instance {
    font-family: Consolas;
}

.key {
    color: red;
    font-weight: bold;
}

.number {
    color: purple;
}